<div class="grid h-screen place-items-center">
    <a class="hover:cursor-pointer group w-full" href="https://www.linkedin.com/in/darsruiz/">
        <div class="py-24 bg-gray-200 hover:bg-gray-300 rounded-sm h-min">
            <p class="text-3xl text-center group-hover:hidden">
                I coded all this in less than 12hrs
            </p>
            <p class="hidden group-hover:block text-center text-3xl">
                pls hire me. :)
            </p>
        </div>
    </a>

</div>